body{
  text-align: center!important;
   font-family:  'Merienda', ! important;
}
h2 {
  text-align: center;
  margin-top: 1% !important;
}
.first{
 background-image: url("../images/backgrounds/b1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 font-weight: normal!important;
 text-align: center;
 color: white;
 /* font-family: 'Ubuntu Condensed', ; */
}

.second{
 text-align: center;
 margin-top: 60px !important;
 font-size: 18px;
 /* font-family:  'Merienda', ! important; */
}

.third{
  background-image: url("../images/backgrounds/b2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  font-weight: normal!important;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
}

#ma1{
  margin-left: 10%;
}
.form-group{
  background-color: transparent;
  opacity: 0.3;

}

#pad{
 padding-bottom: 50px;
 text-align: center;
}
#margin{
margin-left: 0.5%;
margin-right: 1%;
}

.contact{
  background-image: url("../images/backgrounds/b3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
}
.raw2{
  text-align: center!important;
  padding-top: 30px;
  margin-left: 15%;
  margin-bottom: 2%;
}
#left{
  text-align:!important;
}
/* script part */
#dev1, #dev2, #dev3{
  display: none;
}
/* script part end */



/* portfolio hover */

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
/* portfolio hover end */
.end{
  font-family: 'Merienda', ! important ;
/* font-family: 'Fira Sans Extra Condensed', !important; */
}
